.product-detail-page .pdp-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.product-detail-page .pdp-footer button {
  all: unset;
  height: 54px;
  width: 247px;
  border-radius: 12px;
  border-color: var(--secondary-color);
  background-color: var(--secondary-color);
  border-width: 2px;
  color: white;
  font-size: 16px;
  text-align: center;
}
